@font-face {
	font-family: 'ubuntu';
	src: url('fonts/Ubuntu-Regular.ttf') format('truetype');
}

a {
    color: #f365cb;
    font-family: ubuntu;
}

a:hover {
    color: #f365cb;
    text-decoration: underline;
    font-family: ubuntu;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto 
}

body {
	background-color: #1f2121;
	color: #d7dcdc;
	font-size: 13px;
    font-family: ubuntu;
	background-image: url("img/background.png");
	background-position: bottom center;
	background-size: 100%;
	background-repeat: no-repeat;

}

h1{
    color: #f3e722;
    font-size: 35px;
    font-weight: bold;
    font-family: ubuntu;
    margin: 0;
    text-align: center;
    padding: 5px 0;
}

h2 a {
	color: #6ccce2;
	font-size: 25px;
    font-family: ubuntu;
}

h3 a {
	color: #f365cb;
	font-size: 15px;
    font-family: ubuntu;
}

container {
	background-color: #f3e722;
}

@media screen and (max-width: 800px)
{
	body
	{
		font-size: 20px;
	}
  
	img.nav-img {
		height: 40px;
	}
}

        
