
@font-family {
	font-family: 'ubuntu';
	src: url('fonts/ubuntu.ttf') format('truetype');
}

@font-family {
	font-family: 'ubuntu';
	src: url('fonts/Ubuntu-Regular.ttf') format('truetype');
}

a {
    color: #f365cb;
}

a:hover {
    color: #f365cb;
    text-decoration: underline;
}

.jumbotron {
  
	height: 500px;
	background-repeat: no-repeat;
	background-size: 700px;
	background-position: right;
	background-color: #000000;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto 
}

.learn-more {
	background-color: #555555;
	color: #000000;

	left:0px;
	bottom:0px;
	width:100%;
	height:130px
}

.learn-more h3 {
	font-family: 'Shift', sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #000000;
}

.learn-more a {
	color: #000000;
}

body {
	background-color: #1f2121;
	color: #d7dcdc;
	font-size: 13px;
	#font-weight: bold;
	background-image: url("img/background.png");
	background-position: bottom center;
	background-size: 100%;
	background-repeat: no-repeat;
}

h1{
    color: #f3e722;
            font-size: 50px;
            font-weight: bold;
            margin: 0;
            text-align: center;
            padding: 5px 0;
}

banner {
	color: #565c5c;
	font-size: 13px;
	font-weight: bold;
	margin: auto;
	width: 80%;
	font-family: ubuntu;
}
.banner p {
	color: #d7dcdc;
	font-size: 17px;
	margin: auto;
	width: 80%;
	font-family: ubuntu;
	padding: 0px 0px 20px 0px;	#top right bottom left
}

.banner a {
	color: #f365cb;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
}

.banner h1 {
	color: #6ccce2;
	font-size: 52px;
	#font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	font-family: ubuntu;
}

.banner h2 {
    color: #6ccce2;
    font-size: 26px;
    #font-weight: bold;
    text-transform: italic;
}

.banner img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}


h3 a {
	color: #f365cb;
	font-size: 15px;
	#font-weight: bold;
}

container {
	background-color: #f3e722;
}

row {
	color: #f3e722;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	background-color: #f3e722;
}

.row a {
	color: #f365cb;
	font-size: 13px;
	#font-weight: bold;
	text-transform: uppercase;
}

.row h1 {
	color: #f3e722;
	font-size: 24px;
	#font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	font-family: ubuntu;
}

.row h2 {
	color: #6ccce2;
	font-size: 20px;
	text-align: center;
	font-family: ubuntu;
}

.row img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.row a img:hover {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	border-style: outset;
	border-width: 4px;
	border-color: #f3e722;
}



.col-md-4, .col-md-2, .col-md-1, .col-md-10, .col-md-6, .col-md-3 {
	padding: 0px 48px 48px 48px; #top right bottom left
}

.col-md-12{
	font-size: 18px;
	padding: 48px 48px 0px 48px; #top right bottom left
}

.subscribe-label {
	width: 100%;
	text-align: center;
	margin-bottom: 12px;
	color: #fed396;
    font-size: 28px;
}

.subscribe-sublabel {
	width: 100%;
	text-align: center;
	color: #fed396;
	font-family: "Aller_Lt", Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.input-label {
	width: 100%;
	text-align: center;
	margin-bottom: 24px;
}

.email {
	background-color: #fef6e1;
	color: #000000;
    font-size: 16px;
	text-transform: uppercase;
	width: 300px;
}

.btn-submit {
    width: 100%;
    margin: auto;
    text-align: center;
}

.btn {
	width: 320px;
	background: url("../img/buttons/button1_standard.png");
	background-size: cover;
	border: ridge ;
	font-family: ubuntu;
	font-size: 24px;
	line-height: 24px;
	padding: 20px 0px;
	color: #fef6e1;
	min-height: 64px;
	margin: 24px;
	text-transform: uppercase;
}

.btn:hover {
	background: url("../img/buttons/button1_standard_hover.png");
	background-size: cover;
	color: #fef6e1;
	background-color: #6ccce2;
}

@media screen and (max-width: 800px)
{
	body
	{
		font-size: 20px;
	}
  
	.row a{
		font-size: 20px;
	}
  
	.row h1 {
		font-size: 36px;
	}
  
	.row h2 {
		font-size: 30px;
	}
  
	.col-md-4, .col-md-2, .col-md-1, .col-md-10, .col-md-6, .col-md-3 {
		padding: 0px 10% 20% 10%; #top right bottom left
	}
	
	img.nav-img {
		height: 40px;
	}
}

        
